header .row>div:nth-child(1)>a {

    display: block;

    width: 200px;

    height: 50px;

    background: url(https://raw.githubusercontent.com/yunrok/CSS/main/logo2.png) no-repeat; /* url(로고 경로 입력) */

    background-size: auto 50px;

}



header .row>div:nth-child(1)>a>img {

  display: none;

}

#board-info #viewers-area {

    color:#cccccc; /* 접속자 수 글씨 색 */

}



#board-info #viewers-area #viewers:before {

    content: "불타는 집";   
    cursor: text;

}



#board-info #viewers-area #viewers:after {

    content: "명 구경중";
    cursor: text;

}
