header>#header-area>a>h1 {

    background: url(https://raw.githubusercontent.com/yunrok/CSS/main/logo5.png) no-repeat; /* url(로고 경로 입력) */

    background-size: auto 32px;

    width: 128px;

}

#board-info #viewers-area {

    color: #00ffa0; /* 접속자 수 글씨 색 */

}



#board-info #viewers-area #viewers:before {

    content: "대기업 이이랴 치지직으로 이적!"; 
    cursor: text;

}



#board-info #viewers-area #viewers:after {

    content: "";   
    cursor: text;

}

