header>#header-area>a>h1 {

    background: url(https://raw.githubusercontent.com/yunrok/CSS/main/logo.png) no-repeat; /* url(로고 경로 입력) */

    background-size: auto 32px;

    width: 128px;

}

#board-info #viewers-area {

    color: #cccccc; /* 접속자 수 글씨 색 */

}



#board-info #viewers-area #viewers:before {

    content: "브론즈 턱걸이 이이랴"; 
    cursor: text;

}



#board-info #viewers-area #viewers:after {

    content: "명 구경중";   
    cursor: text;

}

